html, body, *{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.left-label{
	float: left;
	width: 26%;
	text-align: right;
	font-size: 12px;
}
.right-entry{
	float: right;
	width: 73%;
	text-align: left;
}

.the-header{
	display: inline-block;
	width: 100%;
}
.the-content{
	width: 100%;
}
.the-sidebar{
	position:absolute;
	top: 0;
	left: 0;
	width: 300px;
}

.the-canvas{
	position:absolute;
	top: 0;
	left: 300px;
    height: 100%;
    overflow-y: hidden;
    border-left: 1px solid grey;
}

.the-right{
	position:absolute;
	top: 0;
	right: 0;
	width: 300px;
	background-color: white;
	border-left: 1px solid grey;
	.list{
		font-size: 12px;
	}
}
.the-sprites{
	height: calc(75vh - 30px);
	padding: 1em;
	overflow: auto;
	ul li {
		padding: 1px 8px;
		overflow: hidden;
    	white-space: nowrap;
	}
}
.sprite-tools{
	height: 33px;
	padding: 2px 1em;
	border-top: 1px solid grey;
	.button{
		height: 28px;
    	min-width: 100%;
    	padding: 0rem 1rem;
    }
}
.the-preview{
	height: 25vh;
	padding: 1em;
	border-top: 1px solid grey;
}

.the-header.row{
	padding: 12px;
}

.the-dropzone{
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 199px;
    bottom: 0;
    background: white;
    border: 2px dashed;
    text-align: center;
    padding-top: 23vh;
}

@media (max-width: 600px) {
	.the-right  { width: 148px;}
	.the-sidebar{ width: 150px;}
	.the-canvas { left : 150px; }

}

